@model FootBallWebLaba1.Models.Player

@{
    ViewData["Title"] = "Details";
}

<h1>Гравець @Model.PlayerName</h1>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Position)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Position)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerSalary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerSalary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlayerBirthDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlayerBirthDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.ClubName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-info mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" asp-route-id="@Model?.PlayerId">Edit</a> |
    <a asp-action="Index" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" >Back to List</a>
</div>
