@model FootBallWebLaba1.Models.ScoredGoal

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Ви впевненні, що хочете видалити цей гол?</h3>
<div>
    <h4>ScoredGoal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScoredMinute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScoredMinute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Match)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Match.MatchId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Player)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Player.PlayerName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ScoredGoalId" />
        <input type="submit" value="Видалити" class="class="btn btn-danger mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" /> |
        <a asp-action="Index" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px">Назад до списку</a>
    </form>
</div>
