@model FootBallWebLaba1.Models.Club

@{
    ViewData["Title"] = "Details";
}

<h1>Інформація про команду</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubOrigin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubOrigin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubPlayerQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubPlayerQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubCoachName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubCoachName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubEstablishmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubEstablishmentDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" asp-route-id="@Model?.ClubId">Редагувати</a> |
    <a asp-action="Index" class="btn btn-primary mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px">Перейти до списку команд</a>
</div>
