@model FootBallWebLaba1.Models.Stadium

@{
    ViewData["Title"] = "DetailsStadium";
}

<h1>Стадіон команди хазяїв</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StadiumEstablismentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StadiumEstablismentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Club)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Club.ClubName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-info mt-1 mb-1" style="font-size:12px; padding:5px 7px; border-radius: 10px" asp-route-id="@Model?.StadiumId">Редагувати</a>
    @*    <a asp-controller="Matches" asp-action="Index">Back to List</a>*@
</div>
