@model FootBallWebLaba1.Models.Championship

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Championship</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionshipCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionshipCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionshipName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionshipName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampionshipClubQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampionshipClubQuantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ChampionshipId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
